<% if logged_in? %>
  <%= render 'index' %>
<% else %>
  <div class="center jumbotron">
    <h1>My Kakeibo</h1>
    <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>