<% if logged_in? %>

<%= render 'static_pages/sample' %>

<% else %>
  <div class="jumbotron" id="jumbotron-signup">
    <p>日本で最もシンプルな家計簿</p>
    <div id="home-btn">
      <%= link_to "サインアップ", signup_path, id: "home-btn-white" %>
    </div>
  </div>
<% end %>
