<div class="user-show">
  <div class="show">
    <p>名前: <%= @user.name %></p>
    <p>メールアドレス: <%= @user.email %></p>
  </div>
  <%= link_to "サンプルページへ", root_path, class:'btn btn-sm btn-primary' %>
  <%= link_to "プロフィールの編集", edit_user_path, class:'btn btn-sm btn-success' %>
</div>
